.header {
  padding: 1rem;
  border-bottom: 3px dotted #eeeeee;
}

@media screen and (min-width: 396px) {
  .header {
    padding: 1.5rem;
  }
}
.header__title {
  font-family: 'Bellefair', serif;
  font-weight: normal;
  font-size: 4rem;
  color: #4f5458;
}
@media screen and (min-width: 396px) {
  .header__title {
    font-size: 5rem;
  }
}

.header__blurb {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

/* 403339
4F5458
63AA44
6CB171
D88D2B */
/* font-family: 'Lato', sans-serif; */
