.shop-card {
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 1rem;

}

.shop-card__shop-name {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-card__controls {
  min-width: 6rem;
}

.shop-card__icon-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0.25rem;
  cursor: pointer;
  color: #333;
}

.shop-card__info {
  font-size: 12px;
  padding-bottom: 0.5rem;
}

.shop-card__list {
  list-style: inside square;
}

.shop-card__item {
  font-size: 14px;
  line-height: 24px;
}

.shop-card__packaging {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
  padding-left: 0.5rem;
}