.shop-option {
  background-color: #eee;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.shop-option__shop-name {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-option__controls {
  min-width: 6rem;
}

.shop-option__icon-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0.25rem;
  cursor: pointer;
  color: #333;
}
