.input-item {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

.input-item__input {
  width: 100%;
  min-width: 0;
  height: 2.5rem;
}

.input-item__choices {
  position: absolute;
  top: 5rem;
  padding: 0.5rem 0;
  background-color: white;
  border: 2px solid #4f5458;
  max-height: 70vh;
  overflow-y: auto;
  width: calc(100% - 2px);
  z-index: 1;
}

.input-item__choice {
  background-color: transparent;
  display: block;
  box-shadow: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  text-align: left;
  min-height: 3rem;
}

.input-item__choice--selected {
  background-color: #63aa44;
}
.input-item__label {
  display: block;
  padding-bottom: 0.5rem;
  font-family: 'Bellefair', serif;
  font-size: 1.5rem;
  font-weight: normal;
}
